<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SystemMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="SystemMonitorWithArduino_v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemMonitor.Properties.Settings>
            <setting name="IPv4Only" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2401</value>
            </setting>
            <setting name="RunAsServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastIP" serializeAs="String">
                <value>117.6.133.190</value>
            </setting>
            <setting name="DelayShutdown" serializeAs="String">
                <value/>
            </setting>
            <setting name="HideLogScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </SystemMonitor.Properties.Settings>
        <SystemMonitorWithArduino_v2.Properties.Settings>
            <setting name="IPv4Only" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2401</value>
            </setting>
        </SystemMonitorWithArduino_v2.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
